@use "sass:map";

@import "language-switcher";

* {
    box-sizing: border-box;
}

.site-header,
.page-content,
.site-footer {
    --pwj-background-color: var(--pwj-background-default-primary);
    --pwj-text-color: var(--pwj-text-default-primary);
    --pwj-border-color: var(--pwj-border-default-primary);
}

.hero-banner {
    --grid-column-gap: var(--pwj-spacing-2);
    --grid-row-gap: var(--pwj-spacing-2);

    background: var(--pwj-background-color);
    color: var(--pwj-text-color);
    border: var(--pwj-border-width) solid var(--pwj-border-color);
    border-radius: var(--pwj-border-radius);
    padding: var(--pwj-spacing-2);

    h1 {
        margin-block: var(--pwj-spacing-2);
    }

    .hero-banner-body {
        order: 1;

        @media screen and (min-width: map.get($breakpoints, tablet)) {
            order: unset;
        }
    }

    .hero-banner-image {
        border-radius: var(--pwj-border-radius);
        order: 0;

        @media screen and (min-width: map.get($breakpoints, tablet)) {
            order: unset;

        }
    }
}

.site-header,
.site-footer {
    background: var(--pwj-background-color);
    color: var(--pwj-text-color);
    border: var(--pwj-border-width) solid var(--pwj-border-color);
}

.site-title {

    &,
    &:visited {
        color: inherit;
    }
}

.site-nav {
    .page-link {
        color: inherit;
    }

    @include media-query($on-palm) {
        border: var(--pwj-border-width) solid var(--pwj-border-color);
    }
}

.site-footer {
    border-start-start-radius: var(--pwj-border-radius);
    border-start-end-radius: var(--pwj-border-radius);
    margin-inline: var(--pwj-spacing-2);
}

.footer-heading {
    margin-block: var(--pwj-spacing-2);
}

.footer-col-wrapper {
    color: inherit;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--pwj-spacing-2);
    margin: 0;

    @include media-query($on-palm) {
        grid-template-columns: 1fr;
    }

    ::after {
        display: none;
        clear: none;
    }
}

.footer-col {
    grid-column: span 1;
    width: fit-content;
    max-width: 100%;
    padding: 0;
    margin: 0;

    > :first-child {
        margin-top: 0;
    }

    > :last-child {
        margin-bottom: 0;
    }
}

.footer-col-2 {
    justify-self: end;

    @include media-query($on-palm) {
        justify-self: auto;
    }
}
